.form-style{
    border: 1px solid;
    padding: 20px;
    width: 60%;
    margin: 0 auto;
}
.input-style{
 
    padding: 10px;
    border-radius: 10px;
}
.input-type{
    padding: 10px;
    border-radius: 10px;
}
.input-style-gov-id{
    padding: 10px;
    border-radius: 10px;
    width: 240%;
}